<!DOCTYPE html>
<html lang="en">
<head>
  <title>LockAR by Quantum XR | PT. Teknologi Cakra Internasional</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-black/50 bg-[url('/images/bg-frame.jpg')] bg-no-repeat bg-cover bg-blend-darken text-white">
        <div class="absolute w-full h-auto justify-center m-10">
            <img src="/images/quantumxr-logo-black-bg.png" class="w-52 h-auto">
        </div>
        <div class="absolute m-auto top-1/2 start-1/2 -translate-x-1/2 -translate-y-1/2 w-full md:w-1/2 lg:w-1/3 h-auto bg-white/5 backdrop-blur-md p-10 rounded-3xl font-mono">
            <h1 class="text-2xl text-start text-white drop-shadow-[6px_2px_4px_rgba(45,212,191,0.6)] font-mono font-semibold mb-8">Add new asset</h1>

            <% if(locals.message){ %>
                <div class="w-full bg-green-100 border-2 border-green-200 rounded-lg p-3 text-black mb-4"><%= locals.message %></div>
            <% } %>

            <form id="itemForm" action="/items" method="post" class="flex flex-col">
                <div class="mb-4">
                    <label class="block tracking-wide text-white mb-2" for="grid-state">
                        Storage
                    </label>
                    <div class="relative">
                        <select name="storageId" id="storageId" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-3 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                            <option>Select Storage</option>
                            <option value="1">Locker</option>
                            <option value="2">Cabinet</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <label class="block text-white mb-2" for="subStorage">
                        Sub Storage
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="number" id="subStorage" name="subStorage" min="1" placeholder="e.g. 1, 2, etc">
                </div>
                <div class="mb-4">
                    <label class="block text-white mb-2" for="name">
                        Item Name
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" name="name" type="text" placeholder="e.g. Book, Pencil, etc">
                </div>
                <div class="mb-4">
                    <label class="block text-white mb-2" for="total">Total Item</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="number" id="total" name="total" min="0" placeholder="e.g. 1000">
                </div>
                <div class="flex flex-row justify-between items-center mt-4">
                    <a href="/" class="uppercase py-2 px-4 focus:outline-none focus:shadow-outline hover:underline hover:underline-offset-4 me-4">
                        Cancel
                    </a>
                    <button class="bg-white hover:bg-black text-black hover:text-white uppercase py-2 px-4 border-2 border-black rounded-full focus:outline-none focus:shadow-outline hover:shadow-xl hover:drop-shadow-[0px_0px_10px_rgba(45,212,191,0.6)]" type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
