<!DOCTYPE html>
<html lang="en">
<head>
  <title>LockAR by Quantum XR | PT. Teknologi Cakra Internasional</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="w-full h-screen bg-black/50 bg-[url('/images/bg-frame.jpg')] bg-no-repeat bg-cover bg-blend-darken text-white">
    <div class="absolute w-full h-auto justify-center m-10">
      <img src="/images/quantumxr-logo-black-bg.png" class="w-52 h-auto">
    </div>
    <div class="absolute m-auto top-1/2 start-1/2 -translate-x-1/2 -translate-y-1/2 w-full md:w-3/5 h-full max-h-[70%] overflow-hidden bg-white/5 border-teal-200 backdrop-blur-md p-10 rounded-3xl font-mono">
      <div class="flex flex-row justify-between items-center">
        <h1 class="text-2xl text-center text-white drop-shadow-[6px_2px_4px_rgba(45,212,191,0.6)] font-mono font-bold mb-10">Inventory System</h1>
        <div class="flex items-end justify-end p-4 mb-6">
          <a href="/items" class="bg-white hover:bg-black text-black hover:text-white py-2 px-4 border-2 border-black rounded-full focus:outline-none focus:shadow-outline hover:shadow-2xl hover:drop-shadow-[0px_0px_10px_rgba(45,212,191,0.6)]">
            + Add New
          </a>
        </div>
      </div>
      
      <% if(locals.message){ %>
        <div class="w-full bg-green-100 border-2 border-green-200 rounded-lg p-3 text-black mb-4"><%= locals.message %></div>
      <% } %>
      
      <div class="relative h-4/5 overflow-auto mb-4">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-black uppercase bg-white dark:bg-gray-700 dark:text-gray-400 sticky top-0">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Asset Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Storage
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Sub Storage
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < data.length; i++) { %>
                <tr class="bg-transparent border-b dark:bg-gray-800 dark:border-gray-700 text-white">
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                        <%= data[i].name %>
                    </th>
                    <td class="px-6 py-4">
                      <%= data[i].storage_id === 1 ? 'Locker' : 'Cabinet' %>
                    </td>
                    <td class="px-6 py-4">
                      <%= data[i].sub_storage %>
                    </td>
                    <td class="px-6 py-4">
                      <%= data[i].total %>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
      </div>

    </div>
  </div>
</body>
</html>
